.tasks {
    list-style-type: upper-roman !important;
}

.tasks__item--mandatory {
    color: forestgreen;
}

.tasks__item--optional {
    color: orange;
}

.tasks__item--backup {
    color: red;
}

.framework-logo {
    width: 470px;
    background-color: white !important;
}

.full-code {
    width: 100% !important;
}