<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>SPA workshop</title>

  <meta name="description" content="Architektura SPA">

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="css/reveal.min.css">
  <link rel="stylesheet" href="css/theme/default.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <link rel="stylesheet" href="css/custom.css">

  <!-- If the query includes 'print-pdf', include the PDF print sheet -->
  <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <section>
      <h1>SPA workshop</h1>
      <h3>with Django and AngularJS</h3>
    </section>
    <section>
      <h2>Agenda</h2>
      <ol>
        <li>Intro</li>
        <li>Coding</li>
        <li>Summary</li>
      </ol>
    </section>
    <section>
      <h2>Broken code #1</h2>
      <pre><code data-trim>
&lt;script&gt;
  {% if user.is_authenticated %}
  var USER = {
    'username': '{{ user.username }}'
  };
  {% endif %}
&lt;/script&gt;
      </code></pre>
    </section>
    <section>
      <h2>Broken code #2</h2>
      <pre><code data-trim>
<p>
  {{ user.username }} shopping cart:
  <span id="cart"><%= items.length %> items</span>
</p>
      </code></pre>
    </section>
    <section>
      <h2>Broken code #3</h2>
      <pre><code data-trim>
&lt;script&gt;
  $('#cart').text(items.length + ' items');
&lt;/script&gt;
<p>
  {{ user.username }} shopping cart:
  <span id="cart"></span>
</p>
      </code></pre>
    </section>
    <section>
      <h2>Problems</h2>
      <ul>
        <li>strongly coupled frontend and backend</li>
        <li>HTML manipulation/rendering by frontend and backend</li>
        <li>hard to test frontend code</li>
      </ul>
    </section>
    <section>
      <h2>Single-page application</h2>
      <img src="images/spa.png">
    </section>
    <section>
      <h2>Pros</h2>
      <ul>
        <li>separation of responsibilities</li>
        <li>easier to maintain and test</li>
        <li>ready to use API for other clients (eg. mobile)</li>
        <li>better UX</li>
        <li>easier collaboration within team</li>
        <li>less data transferred</li>
        <li>offline mode</li>
        <li>easier integration with latest frontend tools</li>
        <li>independent releases</li> 
      </ul>
    </section>
    <section>
      <h2>Cons</h2>
      <ul>
        <li>two apps instead of one</li>
        <li>SEO</li>
        <li>required JS</li>
      </ul>
    </section>
    <section>
      <h2>Examples</h2>
      <ul>
        <li>Trello</li>
        <li>GMail</li>
        <li>Twitter (?)</li>
      </ul>
    </section>
    <section>
      <h2>Stack</h2>
      <img class="framework-logo" src="images/angular_js_logo.png">
      <img class="framework-logo" src="images/django_logo.png">
      <img class="framework-logo" src="images/drf_logo.png">
    </section>
    <section>
      <h2>AngularJS</h2>
    </section>
    <section>
      <h2>Django</h2>
    </section>
    <section>
      <h2>Django Rest Framework</h2>
    </section>
    <section>
      <h2>Lightning talks manager</h2>
    </section>
    <section>
      <h2>Tasks</h2>
      <ol clas="tasks" start="0">
        <li class="tasks__item--mandatory">Warm-up</li>
        <li class="tasks__item--mandatory">Session details</li>
        <li class="tasks__item--mandatory">Create talk</li>
        <li class="tasks__item--mandatory">Limit talks</li>
        <li class="tasks__item--optional">Update talk</li>
        <li class="tasks__item--optional">Delete talk (with TDD)</li>
        <li class="tasks__item--backup">Account activation email</li>
        <li class="tasks__item--backup">Registration E2E tests</li>
      </ol>
    </section>
    <section>
      <h2>0. Warm-up</h2>
      <ul>
        <li>
          activate virtualenv
          <pre class="full-code"><code class="bash">$ workon spaworkshop</code></pre>
        </li>
        <li>
          run backend application
          <pre class="full-code"><code class="bash">$ ./manage.py runserver</code></pre>
        </li>
        <li>
          run frontend application
          <pre class="full-code"><code class="bash">$ gulp serve</code></pre>
        </li>
        <li>
          setup CORS
          <pre class="full-code"><code class="bash">$ edit backend/lightningtalks/settings.py</code></pre>
        </li>
      </ul>
    </section>
    <section>
      <h2>Session details</h2>
      <ul>
        <li>create DRF view</li>
        <li>configure Django routing</li>
        <li>create AngularJS controller</li>
        <li>fill HTML template</li>
      </ul>
    </section>
    <section>
      <h2>Create talk</h2>
    </section>
    <section>
      <h2>Limit talks</h2>
    </section>
    <section>
      <h2>Update talk</h2>
    </section>
    <section>
      <h2>Delete talk (with TDD)</h2>
    </section>
    <section>
      <h2>Account activation email</h2>
    </section>
    <section>
      <h2>Registration E2E tests</h2>
    </section>
    <section>
      <h2>Summary</h2>
    </section>
  </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    // Optional libraries used to extend on reveal.js
    dependencies: [
      { src: 'lib/js/classList.js', condition: function () {
        return !document.body.classList;
      } },
      { src: 'plugin/markdown/marked.js', condition: function () {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/markdown/markdown.js', condition: function () {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
        hljs.initHighlightingOnLoad();
      } },
      { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
        return !!document.body.classList;
      } },
      { src: 'plugin/notes/notes.js', async: true, condition: function () {
        return !!document.body.classList;
      } }
    ]
  });

</script>

</body>
</html>
