<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>SPA workshop</title>

  <meta name="description" content="Architektura SPA">

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="css/reveal.min.css">
  <link rel="stylesheet" href="css/theme/default.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <link rel="stylesheet" href="css/custom.css">

  <!-- If the query includes 'print-pdf', include the PDF print sheet -->
  <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <section>
      <h1>SPA workshop</h1>
      <h3>with Django and AngularJS</h3>
    </section>
    <section>
      <h2>Agenda</h2>
      <ol>
        <li>Intro</li>
        <li>Coding</li>
        <li>Summary</li>
      </ol>
    </section>
    <section>
      <h2>Intro</h2>
    </section>
    <section>
      <h2>Broken code #1</h2>
      <pre><code data-trim>
&lt;script&gt;
  {% if user.is_authenticated %}
  var USER = {
    'username': '{{ user.username }}'
  };
  {% endif %}
&lt;/script&gt;
      </code></pre>
    </section>
    <section>
      <h2>Broken code #2</h2>
      <pre><code data-trim>
<p>
  {{ user.username }} shopping cart:
  <span id="cart"><%= items.length %> items</span>
</p>
      </code></pre>
    </section>
    <section>
      <h2>Broken code #3</h2>
      <pre><code data-trim>
&lt;script&gt;
  $('#cart').text(items.length + ' items');
&lt;/script&gt;
<p>
  {{ user.username }} shopping cart:
  <span id="cart"></span>
</p>
      </code></pre>
    </section>
    <section>
      <h2>Problems</h2>
      <ul>
        <li>strongly coupled frontend and backend</li>
        <li>HTML manipulation/rendering by frontend and backend</li>
        <li>hard to test frontend code</li>
      </ul>
    </section>
    <section>
      <h2>Single-page application</h2>
      <img src="images/spa.png">
    </section>
    <section>
      <h2>Pros</h2>
      <ul>
        <li>separation of responsibilities</li>
        <li>easier to maintain and test</li>
        <li>ready to use API for other clients (eg. mobile)</li>
        <li>better UX</li>
        <li>easier collaboration within team</li>
        <li>less data transferred</li>
        <li>offline mode</li>
        <li>easier integration with latest frontend tools</li>
        <li>independent releases</li> 
      </ul>
    </section>
    <section>
      <h2>Cons</h2>
      <ul>
        <li>two apps instead of one</li>
        <li>SEO</li>
        <li>required JS</li>
      </ul>
    </section>
    <section>
      <h2>Examples</h2>
      <ul>
        <li>Trello</li>
        <li>GMail</li>
        <li>Twitter (?)</li>
      </ul>
    </section>
    <section>
      <h2>Stack</h2>
      <img class="framework-logo" src="images/angular_js_logo.png">
      <img class="framework-logo" src="images/django_logo.png">
      <img class="framework-logo" src="images/drf_logo.png">
    </section>
    <section>
      <h2>Coding</h2>
    </section>
    <section>
      <h2>Lightning talks manager</h2>
    </section>
    <section>
      <h2>Django (Rest Framework)</h2>
      <ul>
        <li>models</li>
        <li>views</li>
        <li>serializers</li>
        <li>routing</li>
      </ul>
    </section>
    <section>
      <h2>AngularJS</h2>
      <ul>
        <li>controllers</li>
        <li>templates</li>
        <li>routing</li>
      </ul>
    </section>
    <section>
      <ul>
        <h2>Pull & checkout</h2>
          <pre><code data-trim>
$ git pull
$ git checkout workshop
            </code></pre>
      </ul>
    </section>
    <section>
      <h2>Tasks</h2>
      <ol class="tasks" start="0">
        <li class="tasks__item--mandatory">Warm-up</li>
        <li class="tasks__item--mandatory">Session details</li>
        <li class="tasks__item--mandatory">Create talk</li>
        <li class="tasks__item--optional">Limit talks</li>
        <li class="tasks__item--optional">Update talk</li>
      </ol>
    </section>
    <section>
      <h2>0. Warm-up</h2>
      <ul>
        <li>
          activate virtualenv
          <pre class="full-code"><code class="bash">$ workon spaworkshop</code></pre>
        </li>
        <li>
          run backend application
          <pre class="full-code"><code class="bash">$ ./manage.py runserver</code></pre>
        </li>
        <li>
          run frontend application
          <pre class="full-code"><code class="bash">$ gulp serve</code></pre>
        </li>
        <li>
          increase REQUEST_DELAY
          <pre class="full-code"><code class="bash">$ edit backend/lightningtalks/settings.py</code></pre>
        </li>
      </ul>
    </section>
    <section>
      <h2>1. Session details</h2>
      <ul>
        <li class="backend">create DRF view</li>
        <li class="backend">create DRF serializer</li>
        <li class="backend">configure Django routing</li>
        <li class="frontend">configure AngularJS routing</li>
        <li class="frontend">implement AngularJS controller
          <ul>
            <li>fetch session</li>
          </ul>
        </li>
        <li class="frontend">fill HTML template
          <ul>
            <li>add loader</li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h2>2. Create talk</h2>
      <ul>
        <li class="frontend">fill HTML form template
          <ul>
            <li>bind inputs with controller properties</li>
            <li>add form submit handler</li>
            <li>add loaders</li>
          </ul>
        </li>
        <li class="frontend">create AngularJS controller
          <ul>
            <li>fetch sessions</li>
            <li>send data to backend</li>
            <li>handle errors</li>
            <li>show toast message on success</li>
            <li>redirect on success</li>
            <li>force user to be logged in</li>
          </ul>
        </li>
        <li class="backend">assign current user to newly created talk</li>
      </ul>
    </section>
    <section>
      <h2>3. Limit talks</h2>
      <ul>
        <li class="backend">add new field to <code>Talk</code> Django model
          <ul>
            <li>define field</li>
            <li><code>./manage.py makemigrations</code></li>
            <li><code>./manage.py migrate</code></li>
          </ul>
        </li>
        <li class="backend">add validation method in <code>Talk</code> DRF serializer</li>
        <li class="frontend">update session HTML template
          <ul>
            <li>disable "Add talk" button</li>
            <li>mark talk counter with red color</li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h2>4. Update talk</h2>
      <ul>
        <li class="frontend">fill HTML form template
          <ul>
            <li>bind inputs with controller properties</li>
            <li>add form submit handler</li>
            <li>add loaders</li>
            <li>display errors</li>
          </ul>
        </li>
        <li class="frontend">add <code>PUT</code> method to talk resource</li>
        <li class="frontend">create AngularJS controller
          <ul>
            <li>fetch talk</li>
            <li>send data to backend</li>
            <li>handle errors</li>
            <li>show toast message on success</li>
            <li>redirect on success</li>
            <li>force user to be logged in</li>
          </ul>
        </li>
        <li class="backend">create custom permission</li>
      </ul>
    </section>
    <section>
      <h2>Summary</h2>
    </section>
    <section>
      <h2>Tools</h2>
      <ul>
        <li><a href="https://github.com/yeoman/yo">yo</a></li>
        <li><a href="http://gulpjs.com/">gulp</a></li>
        <li><a href="http://gruntjs.com/">Grunt</a></li>
        <li><a href="http://bower.io/">bower</a></li>
      </ul>
    </section>
    <section>
      <img class="framework-logo" src="images/yeoman-logo.png">
    </section>
    <section>
      <h2>Build process/testing tools</h2>
      <ul>
        <li><a href="https://github.com/jonkemp/gulp-useref">useref</a></li>
        <li><a href="https://github.com/olov/ng-annotate">ngAnnotate</a></li>
        <li><a href="https://github.com/mishoo/UglifyJS">UglifyJS</a></li>
        <li><a href="https://github.com/css/csso">csso</a></li>
        <li><a href="https://github.com/postcss/autoprefixer">Autoprefixer</a></li>
        <li><a href="https://github.com/sindresorhus/gulp-rev">rev</a></li>
        <li><a href="http://www.jshint.com">JSHint</a></li>
        <li><a href="https://github.com/imagemin/imagemin">imagemin</a></li>
        <li><a href="http://karma-runner.github.io">Karma</a></li>
        <li><a href="https://github.com/angular/protractor">protractor</a></li>
        <li><a href="https://github.com/angular-ui/ui-router">jasmine</a></li>
        <li><a href="http://www.browsersync.io/">BrowserSync</a></li>
        <li><a href="https://github.com/marklagendijk/gulp-ng-html2js">ngHtml2js</a></li>
      </ul>
      <aside class="notes">
        <ul>
          <li>useref : allow configuration of your files in comments of your HTML file</li>
          <li>ngAnnotate : convert simple injection to complete syntax to be minification proof</li>
          <li>uglify : optimize all your JavaScript</li>
          <li>csso : optimize all your CSS</li>
          <li>Auto prefixer: Parse CSS and add vendor prefixes to CSS rules using values from Can I Use.</li>
          <li>rev : add a hash in the file names to prevent browser cache problems</li>
          <li>watch : watch your source files and recompile them automatically</li>
          <li>jshint : JavaScript code linter</li>
          <li>imagemin : all your images will be optimized at build</li>
          <li>Unit test (karma) : out of the box unit test configuration with karma</li>
          <li>e2e test (protractor) : out of the box e2e test configuration with protractor</li>
          <li>browser sync : full-featured development web server with livereload and devices sync</li>
          <li>ngHtml2js : all HTML partials will be converted to JS to be bundled in the application</li>
        </ul>
      </aside>
    </section>
    <section>
      <h2>AngularJS libs</h2>
      <ul>
        <li><a href="https://github.com/mgonto/restangular">Restangular</a></li>
        <li><a href="https://github.com/angular-ui/ui-router">ui-router</a></li>
      </ul>
    </section>
  </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    // Optional libraries used to extend on reveal.js
    dependencies: [
      { src: 'lib/js/classList.js', condition: function () {
        return !document.body.classList;
      } },
      { src: 'plugin/markdown/marked.js', condition: function () {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/markdown/markdown.js', condition: function () {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
        hljs.initHighlightingOnLoad();
      } },
      { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
        return !!document.body.classList;
      } },
      { src: 'plugin/notes/notes.js', async: true, condition: function () {
        return !!document.body.classList;
      } }
    ]
  });

</script>

</body>
</html>
